
<!DOCTYPE html>

<html>
  <head>
    <title>PyShine streaming video application </title>
  </head>
  <body>

  <h1>Please input the parameters (0 to 100): </h1>

<form action = "/res" method = "POST" enctype="multipart/form-data" >

  <table>
   <tr>
    <tr>
      <td align="right">Upload Video:</td>
      <td align="left"><input type="file" name="videoFile"></td>
    </tr>
   <td></td>
      <td align="right"><input type = "submit" value = "submit" /></td>
    </tr>

  </table>
</form>


  </body>

</html>



